@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');

*{
   font-family: "McLaren", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: url('../assets/bg.jpeg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/** ---------------- HEADER ---------------------- */

.safe-title {
  letter-spacing: 2px;
  color: white;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.safe-subtitle {
  font-weight: 500 !important;
  margin-top: 0.5rem;
}

.safe-author {
  font-weight: 500 !important;
  color: #333;
}

